
<!DOCTYPE html>
<html>
  <head>
    <title>Indian Cricket Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> -->
  </head>
  <body style="text-align: center;font-size:20px;padding:160px;border:1px solid">
    <div class="container">
      <h1>Welcome to Indian Cricket Team!</h1>
      <br>
      <!-- {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %} -->

      <p>Do you want to see the whole list <a href="/list">Click here.</a> </p>
      <p>Do you want to insert  <a href="/student">Click here.</a> </p>

      <br>

      <p>Click <a href="/logout">here</a> to logout.</p>
    </div>
  </body>
</html>
